# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = web_bot.settings

[deploy:scrapyd]
url = http://localhost:8000/api/scrapyd
username = admin
password = 123
project = web_bot
