{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}


{#        {% if is_paginated %}#}
{#            <nav aria-label="Page navigation">#}
{#  <ul class="pagination">#}
{#    <li class="page-item">#}
{#        {% if page_obj.has_previous %}#}
{#            <a class="page-link keywords1" href="" aria-label="Previous">#}
{#                <span aria-hidden="true">&laquo;</span>#}
{#                <span class="sr-only">Previous</span>#}
{#            </a>#}
{#        {% endif %}#}
{#    </li>#}
{#  <li class="page-item"><a class="page-link " href="/result/page/1">First</a></li>#}
{#    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>#}
{##}
{#  <li class="page-item"><a class="page-link keywords2" href="">Last</a></li>#}
{#    <li class="page-item">#}
{#        {% if page_obj.has_next %}#}
{#      <a class="page-link keywords3" href="" aria-label="Next">#}
{#        <span aria-hidden="true">&raquo;</span>#}
{#        <span class="sr-only">Next</span>#}
{#      </a>#}
{#        {% endif %}#}
{#    </li>#}
{#  </ul>#}
{#</nav>#}
{# {% else %}#}
{##}

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item">
        {% if images_list.has_previous %}
            <a id="keywords1" class="page-link" href="" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        {% endif %}
    </li>
  <li class="page-item"><a class="page-link" href="/search/page/1">First</a></li>
    <li class="page-item"><a class="page-link" href="#">{{ images_list.number }}</a></li>

  <li class="page-item"><a id="keywords2" class="page-link" href="">Last</a></li>
    <li class="page-item">
        {% if images_list.has_next %}
      <a id="keywords3" class="page-link" href="" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
 {% endif %}

    <script>
    var keywords = getCookie('q');
    debugger;
    $('#keywords1').attr('href', '/search/?q=' + keywords + '/?page=' {% if images_list.has_previous %} + {{ images_list.previous_page_number }} {% endif %});
    $('#keywords2').attr('href', '/search/?q=' + keywords + '/?page=' + {{ images_list.paginator.num_pages }});
    $('#keywords3').attr('href', '/search/?q=' + keywords + '/?page=' {% if images_list.has_next %} + {{ images_list.next_page_number }} {% endif %});

         function getCookie(name) {
             var matches = document.cookie.match(new RegExp(
               "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
             ));
         return matches ? decodeURIComponent(matches[1]) : undefined;
         }
    </script>

{% endblock %}
